<h1>New reservation</h1>
<!--

<%= render "form", reservation: @reservation %>
-->

<label>Nombre de sièges</label>
<input type="number" />
<br><br>
<label>Classe de sièges</label>
<select>
  <% @all_seat_class_choice.each do |seat_class| %>
    <option value="<%= seat_class.id %>"><%= seat_class.name %></option>
  <% end %>
</select>
<br>

<div>
  <%= link_to "Back to reservations", reservations_path %>
</div>
