<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>You got a new reservation</p>
<p>
  Order details<br>
  --------------------------
</p>
<p>seat_number: <%= SecureRandom.hex(3) %></p>
<p>user_id: <%= @reservation.user.email %></p>
<p>flight_id: <%= @reservation.flight_id %></p>
<p>seat_class_choice_id: <%= @reservation.seat_class_choice_id %></p>
<p>
  Message:<br>
  ----------
</p>
TEST
</body>
</html>